VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_VAPID_PUBLIC_KEY=BLem2ud-4PhLjo1x-hu-upSv1VIbmYoutBxpXqGCrcLaZvRerqTbOnyIz8QS48RxmXTOdzNcEc7yaprKcUSDc74
